<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Test.Client.Id1" value="[YOURclientID]"/>
    <add key="Test.Client.Secret1" value="[YOURclientSECRET]"/>
    <add key="Test.Client.Id" value="65_68caq5kpploggo8oc0wg8ccgk8o48w8sogwc8ggoc4goooc0wg"/>
    <add key="Test.Client.Secret" value="57ga7mb0q5ss0osw8o48ccwcoscgkow0s8goc8c88so8g8cwoc"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
